<main>

  <section class="Menu">
    <div class="Logo">
      <p class="Logo_Text" style="margin: 0; padding: 0;"> My Anime List </p>

      <img src="../assets/Icono.png" alt="Logo">
    </div>

    <div class="Navegacion">
      <a (click)="scrollToElement('#Seccion2')" style="cursor: pointer;">Info</a>
      <a (click)="scrollToElement('#Seccion3')" style="cursor: pointer;">Temas</a>
      <a (click)="scrollToElement('#Seccion4')" style="cursor: pointer;">Tema 3</a>
      <a (click)="scrollToElement('#Seccion5')" style="cursor: pointer;">Tema 4</a>
    </div>



  </section>

  <section class="video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/R1wwopVP7-A" frameborder="0"
      allowfullscreen></iframe>
  </section>

  <section class="Seccion2" id="Seccion2">

    <p style="margin: 0; padding: 0;">
      Seccion 2
    </p>

    <div class="Contenido">

      <div>
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
      </div>

      <div>
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
      </div>

      <div>
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
      </div>

      <div>
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
      </div>

    </div>
  </section>

  <section class="Seccion3" id="Seccion3">
    <p style="margin: 0; padding: 0;">
      Seccion 3
    </p>

    <div class="ContenidoSeccion3">
      <img src="../assets/portada_love-live-sunshine-39.jpg" alt=""
        style="height: 100%; width: 100%; padding-left: 0px;">

      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>

  <section class="Seccion4" id="Seccion4">

    <p >
      Seccion 4
    </p>

    <div class="ContenidoSeccion4" >
      <div class="card" style="width: 100%;">
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tarjeta Titulo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ex. Quod eveniet, rerum iusto nobis illo ratione deserunt beatae saepe at neque nam minima similique nihil error numquam! Voluptatibus, illo?</p>
        </div>
      </div>

      <div class="card" style="width: 100%;">
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tarjeta Titulo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ex. Quod eveniet, rerum iusto nobis illo ratione deserunt beatae saepe at neque nam minima similique nihil error numquam! Voluptatibus, illo?</p>
        </div>
      </div>

      <div class="card" style="width: 100%;">
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tarjeta Titulo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ex. Quod eveniet, rerum iusto nobis illo ratione deserunt beatae saepe at neque nam minima similique nihil error numquam! Voluptatibus, illo?</p>
        </div>
      </div>

      <div class="card" style="width: 100%;">
        <img src="../assets/portada_love-live-sunshine-39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tarjeta Titulo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ex. Quod eveniet, rerum iusto nobis illo ratione deserunt beatae saepe at neque nam minima similique nihil error numquam! Voluptatibus, illo?</p>
        </div>
      </div>
    </div>
  </section>

  <section class="Footer" id="Seccion5">
    <div class="Logo">
      <p class="Logo_Text" style="margin: 0; padding: 0;"> @CopyRight </p>
    </div>

    <div class="Navegacion">
      <p>
        Irving Rafael Conde Marín
      </p>

      <p>
        Tarea de Web
      </p>
    </div>
  </section>
</main>
